* {
  color: rgb(0, 0, 0);
}

body {
  background: teal;
}

#calc-body {
  background: rgb(255, 255, 255);
  width: 200px;
  height: 600px;
}

#calc-screen {
  background: lightgrey;
  width: 120px;
  height: 80px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  color: coral;
}
